/* avatars.css */
/*이미지 모양 편집*/
.profile-image {
  /* 원형 이미지 만들기*/
  /* 테두리를 둥글게 만드는 속성 border-radius - 50%로 설정*/
  border-radius: 50%;
}

/*이미지 위치 정하기 width,height*/
.avatar-container {
  /*이미지간의 간격 설정*/
  margin-left: 20px; /* 오른쪽 간격을 (외부여백 ?)20픽셀로 설정 */
  margin-bottom: 20px; /* 아래 간격을 20픽셀로 설정*/
  float: left; /* 이미지를 가로로 설정. 그래야 세로로 있던 이미지들이 옆으로 나열된다.*/
  position: relative; /*이미지의 자리를 옮긴다.*/
}

/* 원 모양 만들고 위치 정하기*/
.circle {
  position: absolute; /*이미지의 자리를 옮긴다.*/
  width: 16px;
  height: 16px;
  /*이미지를 둥글게 만든 방식으로 다시 원 모양을 만든다*/
  border-radius: 50%;
  /*원 모양이 오른쪽 하단에 붙을 수 있도록 위치 선정해주기*/
  /*프로필 이미지와 가깝게 하려면 0으로 입력해야한다*/
  right: 0;
  bottom: 0;
  /* 흰색 테두리 만들고 위치 시키기 테두리는 border 속성*/
  border: 2px solid white;
}

/* 원 모양 '온라인' 색상 */
.circle.online {
  background-color: #4cfe88; /* 초록색 */
}
/* 원 모양 '오프라인' 색상 */
.circle.offline {
  background-color: #dbdbdb; /* 회색 */
}
/* 원 모양 '자리비움' 색상 */
.circle.away-from-desk {
  background-color: #e8c40d; /* 노란색 */
}
/* 원 모양 '바쁨' 색상 */
.circle.busy {
  background-color: #db3748; /* 빨간색 */
}
figure {
  /* 총 너비 설정 */
  width: 400px;
  margin-top: 400px;
  /* 가로 줄을 중앙으로 정렬한다*/
  margin-left: auto;
  margin-right: auto;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}
